html{
    font-family: 'Times New Roman',sans-serif;
}
body{
    margin: 0 auto;
}
.PageTop{
    background-image: url(pagetop2_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 930px;
}
.PageTop p{
    font-size: 64px;
    margin: 20% 0 30% 10%;
    font-style: italic;
    text-shadow: 5px 5px 4px #808080;
    color: #FFC1C1;
}
.Pagetop_title{
    padding: 0 20px 0 40px;
    width: auto;
    opacity: 0.7;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
}
.Pagetop_title h1{
    text-align: center;
    font-size: 32px;
}
.title_option{
    padding: 0 40px 0 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0);
}
.title_option a{
    font-size: 20px;
    text-align: center;
    margin: 0 15px 0 15px;
    color: black;
    text-decoration: none;
}

.News{
    height: 90px;
    width: auto;
    background: linear-gradient(280deg, rgba(255,209,209,0.7) 70%, #FFFFFF);    
    padding: 0 100px 0 100px;
    align-items: center;
    display: flex;
}
.News h1{
    font-size: 40px;
    font-style: italic;
    margin: 0 100px 0 100px;
}
.News p{
    font-size: 20px;
    margin: 0 100px 0 100px;
}

.Profile{
    height: 650px;
    width: auto;
    background: linear-gradient(90deg, #D0D0D0 40%, #FFFFFF 50%), 
    linear-gradient(90deg, #FFFFFF, #FFFFFF);
    background-size: cover;
}
.Profile_title{
    padding: 0 100px 0 40px;
    width: auto;
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    text-align: right;
}
.Profile_main{
    margin: 5% 0 0 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Profile_title h1{
    font-size: 40px;
    font-style: italic;
    margin: 0 200px 0 auto;
}
.Profile_option h1{
    font-style: italic;
    font-size: 32px;
    font-weight: 500;
}
.Profile_option p{
    font-size: 20px;
}
.Profile_icon img{
    border-radius: 50%;
    width: 200px;
}

.Work{
    height: 1240px;
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 10%, rgba(255,209,209,1) 40%, rgba(255,255,255,1) 91%);
}
.Work_title{
    padding: 20px 100px 0 100px;
    margin: 0 0 20px 0;
    width: auto;
    height: 90px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
}
.Work_title h1{
    font-size: 40px;
    font-style: italic;
    margin: 0 0 0 100px;
}
  
.Work_contents{
    height: 800px;
    margin: 0 200px 0 200px;
    padding: 50px 100px 0 100px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contents_1{
    background-color: rgba(255, 255, 255, 0);
    height: 470px;
    width: auto;
    margin: 0 50px 0 50px;
}
.contents_1 img{
    height: 90%;
    width: auto;
}
.contents_1 p{
    font-size: 32px;
    text-align: center;
}
.contents_2{
    background-color: rgba(255, 255, 255, 0);
    height: 470px;
    width: auto;
    margin: 0 50px 0 50px;
}
.contents_2 img{
    height: 90%;
    width: auto;
}
.contents_2 p{
    font-size: 32px;
    text-align: center;
}

.Contact{
    width: auto;
    height: 350px;
    text-align: center;
    background-color: #EEEEEE;
}
.Contact_title{
    padding: 20px 0 40px 0;
}
.Contact h1{
    font-size: 40px;
}
.Contact_option{
    padding: 0 20px 0 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Contact img{
    width: 17%;
}
